$font-color: #363636 !default;

$control-background-color: $white !default;
$control-border-color: $grey-lighter !default;

$control-shadow-color: hsla(0, 0%, 4%, 0.1) !default;

$overlay-background-color: hsla(0, 0%, 4%, 0.86) !default;
