
@use "./variables" as vars;

// @TODO Add dark colours
$background-color-dark: vars.$black;
$background-color-inverse-dark: vars.$white;
$background-color-subtle-dark: vars.$grey-darkest;
$background-color-muted-dark: vars.$grey-darker;
$background-color-emphasis-dark: vars.$grey-dark;

$color-dark: vars.$white;
$color-inverse-dark: vars.$black;
$color-subtle-dark: vars.$grey-light;
$color-muted-dark: vars.$grey;
$color-emphasis-dark: vars.$grey-lighter;

$border-color-dark: vars.$grey;
$border-color-inverse-dark: vars.$white;
$border-color-subtle-dark: vars.$grey-darkest;
$border-color-muted-dark: vars.$grey-darker;
$border-color-emphasis-dark: vars.$grey-light;

$hover-background-color-dark: vars.$grey-darker;
$hover-background-color-inverse-dark: vars.$grey-light;
$hover-background-color-subtle-dark: vars.$grey-darkest;
$hover-background-color-muted-dark: vars.$grey-dark;
$hover-background-color-emphasis-dark: vars.$grey;

$hover-color-dark: vars.$white;
$hover-color-inverse-dark: vars.$black;
$hover-color-subtle-dark: vars.$grey-light;
$hover-color-muted-dark: vars.$grey;
$hover-color-emphasis-dark: vars.$grey-lighter;

$hover-border-color-dark: vars.$grey;
$hover-border-color-inverse-dark: vars.$white;
$hover-border-color-subtle-dark: vars.$grey-dark;
$hover-border-color-muted-dark: vars.$grey-darker;
$hover-border-color-emphasis-dark: vars.$grey-light;
