/*********************
*   Theme Variables
**********************/

// Settings
$prefix: "oruga" !default;
$enable-host: true !default;

// Animations
$animation-speed-fast: 150ms !default;
$animation-speed: 300ms !default;
$animation-speed-slow: 500ms !default;
$animation-timing: ease-out !default;

// Sizes
$sizes: (
    "small": 0.75rem,
    "medium": 1.25rem,
    "large": 1.5rem,
) !default;

// Colors
$white: #ffffff !default;
$black: #04071a !default;
$grey: #7a7a7a !default;
$grey-light: #b5b5b5 !default;
$grey-lighter: #dbdbdb !default;
$grey-lightest: #f5f5f5 !default;
$grey-dark: #6c6e72 !default;
$grey-darker: #4a4a4a !default;
$grey-darkest: #3f3f3f !default;

$primary: #445e00 !default;
$primary-invert: $white !default;
$secondary: #6c757d !default;
$secondary-invert: $white !default;
$success: #006724 !default;
$success-invert: $white !default;
$info: #005c98 !default;
$info-invert: $white !default;
$warning: #f4c300 !default;
$warning-invert: $black !default;
$danger: #b60000 !default;
$danger-invert: $white !default;

// Colors map
$colors: (
    "primary": (
        $primary,
        $primary-invert,
    ),
    "secondary": (
        $secondary,
        $secondary-invert,
    ),
    "success": (
        $success,
        $success-invert,
    ),
    "info": (
        $info,
        $info-invert,
    ),
    "warning": (
        $warning,
        $warning-invert,
    ),
    "danger": (
        $danger,
        $danger-invert,
    ),
) !default;

// z-index map
$zindex: (
    "dropdown": 10,
    "sticky": 20,
    "fixed": 30,
    "overlay": 40,
    "sidebar": 50,
    "modal": 60,
    "tooltip": 80,
) !default;

// Font
$font-family: // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // older macOS and iOS
    "Helvetica Neue",
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Basic web fallback
    Arial,
    // Sans serif fallback
    sans-serif !default;
$font-color: #363636 !default; //
$font-size: 1rem !default;
$font-weight: 400 !default;
$line-height: 1.5 !default;

// Base Style
$border-radius: 4px !default;
$border-radius-rounded: 9999px !default;
// @TODO add border style variable and box shadow variable

$control-spacer: 0.5em !default;
$control-background-color: $white !default;
$control-border-color: $grey-lighter !default;
$control-border-width: 1px !default;
// $control-border-style: solid !default;
$control-height: 2.25em !default;
$control-padding-vertical: calc(0.375em - #{$control-border-width}) !default;
$control-padding-horizontal: calc(0.8em - #{$control-border-width}) !default;
$control-disabled-opacity: 0.5 !default;
$control-shadow-color: hsla(0, 0%, 4%, 0.1) !default;
$control-box-shadow: 0 1px 2px 0 $control-shadow-color !default;
$control-box-shadow-inset: inset $control-box-shadow !default;
$control-focus-box-shadow: 0 0 0 0.25rem !default;

$overlay-background-color: hsla(0, 0%, 4%, 0.86) !default;
$overlay-box-shadow: 5px 0px 13px 3px $control-shadow-color !default;


    // HOVER content-hover-color - background-hover-color - border-hover-color 
$hover-background-color: h.useVar("grey-light") !default;
$hover-background-color-inverse: h.useVar("grey-dark") !default;
$hover-background-color-subtle: h.useVar("grey-lightest") !default;
$hover-background-color-muted: h.useVar("grey-light") !default;
$hover-background-color-emphasis: h.useVar("grey") !default;

$hover-border-color: h.useVar("grey") !default;
$hover-border-color-inverse: h.useVar("white") !default;
$hover-border-color-subtle: h.useVar("grey-light") !default;
$hover-border-color-muted: h.useVar("grey") !default;
$hover-border-color-emphasis: h.useVar("grey-dark") !default;

$hover-color: h.useVar("grey") !default;
$hover-color-inverse: h.useVar("white") !default;
$hover-color-subtle: h.useVar("grey-dark") !default;
$hover-color-muted: h.useVar("grey") !default;
$hover-color-emphasis: h.useVar("black") !default;

/*****************************************************************************/
$breadcrumb-item-hover-color: h.useVar("white") !default;
$datepicker-table-cell-hovered-color: h.useVar("white") !default;
$menu-item-hover-color: h.useVar("white") !default;
$button-hover-border-color: h.useVar("grey-light");
$tabs-tab-hover-background-color: hsl(0, 0%, 96%) !default;
$tabs-tab-hover-border-color: hsl(0, 0%, 86%) !default;
$dropdown-item-hover-background-color: h.useVar("grey-lighter") !default;
$listbox-item-hover-background-color: h.useVar("grey-lighter") !default;
$tree-item-hover-background-color: h.useVar("grey-lightest") !default;
$datepicker-table-cell-hovered-background-color: h.useVar("grey") !default;
$table-th-sorted-hover-border-color: h.useVar("grey") !default;
$breadcrumb-item-hover-background-color: h.useVar("secondary") !default;
$tree-item-hover-color: h.useVar("black") !default;

    // BACKGROUND background-color
$background-color: h.useVar("white") !default;
$background-color-inverse: h.useVar("grey-darkest") !default;
$background-color-subtle: h.useVar("grey-lightest") !default;
$background-color-muted: h.useVar("grey-lightest") !default;
// $background-color-overlay: h.useVar("grey-darkest") !default;
$background-color-emphasis: h.useVar("grey-light") !default;

/*****************************************************************************/
$carousel-indicators-background: rgba(h.useVar("white"), 0.5) !default;
$carousel-indicator-background: h.useVar("white") !default;
$radio-background-color: h.useVar("white") !default;
$steps-step-label-background-color: h.useVar("white") !default;
$datepicker-event-background-color: h.useVar("grey-light") !default;
$switch-background-color: h.useVar("grey-light") !default;
$skeleton-background-color: vars.$grey-lighter !default;
$slider-track-background-color: h.useVar("grey-lighter") !default;
$table-tr-detail-background-color: h.useVar("grey-lightest") !default;
$tag-background-color: h.useVar("grey-lightest") !default;
$tooltip-content-background-color: h.useVar("grey-darkest") !default;

    // COLOR content-color
$color: h.useVar("black") !default;
$color-inverse: h.useVar("white") !default;
$color-subtle: h.useVar("grey-dark") !default;
$color-muted: h.useVar("grey") !default;
$color-emphasis: h.useVar("black") !default;

/*****************************************************************************/
$modal-close-color: h.useVar("white") !default;
$notification-close-color: h.useVar("white") !default;
$pagination-button-current-color: h.useVar("white") !default;
$tooltip-content-color: h.useVar("white") !default;
$pagination-ellipsis-color: h.useVar("grey-light") !default;

    // BORDER border-color 
$border-color: h.useVar("grey-lighter") !default;
$border-color-inverse: h.useVar("white") !default;
$border-color-subtle: h.useVar("grey-light") !default;
$border-color-muted: h.useVar("grey") !default;
$border-color-emphasis: h.useVar("grey-dark") !default;

/*****************************************************************************/
$carousel-arrow-border-color: h.useVar("white") !default;
$slider-thumb-border-color: h.useVar("grey-light") !default;
$switch-border-color: h.useVar("grey-lighter") !default;
$table-th-sorted-border-color: h.useVar("grey") !default;
$slider-track-border-color: h.useVar("grey") !default;

    // other
$button-outlined-border-color: h.useVar("grey-light") !default;
$loading-overlay-background-color: rgba(255, 255, 255, 0.5) !default;


$dropdown-menu-box-shadow:
    0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02) !default;
$table-card-box-shadow:
    0 2px 3px h.useVar("control-shadow-color"),
    0 0 0 1px h.useVar("control-shadow-color") !default;
$table-td-border-style: solid !default; // ...